/* GENERAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* styling for horizontal line */

hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #EBEAEB 0.5px;
    border-style: inset;
}

/* BARAKATS'S STYLING  */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
:root{
    --bg-color:#4a154b;
    --purple:#611f69;
    --bg-color2:#f6efe8;
    --white:#fff;
    --black:#000;
    --gray:#f3f1f1;
}
header{
    background-color: var(--bg-color2);
    width: 100%;
}
.nav-control{
    display: flex; 
    justify-content: space-between;
    align-items: center;
     padding: 1.5rem ;
}
 .search-icon1{
    font-size: 20px;
    margin-right: 1rem;
}
.search-icon2{
    display: none;
}
.menu-icon{
    font-size: 20px;
    cursor: pointer;
}

.collapsible{
    /* padding: 2rem; */
    background-color: var(--gray); 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: 200ms ease;
    z-index: 1;
}
.hide{
    transform: translateX(0);
}
 .menu-items{
    padding: 2rem;
    list-style-type: none;
    width: 100%;
    margin-bottom: 3rem;
}
.menu-link{
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.collapse-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.close-icon{
    font-size: 20px;
}
.tSales,.nWorkspace{
    text-align: center;
    padding:  1rem;
    font-size: 1rem;
    font-weight: 700;
}
.tSales{
    font-weight: 500;
    color: var(--purple);
    border: 1px solid var(--purple);
    margin-bottom: 1.5rem;
}
.nWorkspace{
    font-weight: 500;
    background-color: var(--purple);
    color: var(--white);
} 
.workspace-btn{
background-color: var(--white);
padding: 3rem 2rem;
display: flex;
flex-direction: column;
}
/* hero */
.slackForIos{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: var(--bg-color2);
    padding: 1rem;
}
.iosTitle{
    margin-bottom: 3rem;
}
.iosTitle h1{
font-size: 2.7rem;
font-family: "Slack-Larsseit","Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.iosTitle p{
    font-family: "roboto";
    line-height: 25px;
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: left;
}
.iosTitle a{
    display: block;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1.5rem;
    border-radius: 10px;
}

@media only screen and (min-width:768px) {
     .logo2{
        display: none;
    }
    
    .close-icon{
        display: none;
    }
    .search-icon1{
        display: none;
    }
    .search-icon2{
        display: initial;
        margin-right: 1rem;
    }
    .menu-icon{display: none;}
    nav{
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .collapsible{
        position: relative;
        transform: translateY(0);
        transition: 200ms ease;
        background-color: transparent;
        padding: 0;
        display: flex;
        flex-basis: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .nav-control{
        padding: 0;
        flex-basis: 10%;
    }
    .menu-items{
        display: flex;
        flex-basis: 60%;
        padding:0;  
        margin-bottom: 0;
    }
    .menu-link{
        margin-bottom: 0; 
        margin-right: 1.2rem;  
    }
    .workspace-btn{
        background-color: transparent;
        padding: 0;
        flex-direction: row;
        }
        .tSales,.nWorkspace{
            padding: 0.5rem 1rem;
            font-size: 0.5rem;
            font-weight: 700;
        }
        .tSales{
            margin-bottom: 0;
            margin-right: 1rem;
        }
        /* hero */
        .slackForIos{
            flex-direction: row;
        }
        .iosImg{
            flex-basis: 50%;
        }
        .iosTitle{
        margin-bottom: 0;
        flex-basis: 40%;
        }
        .iosTitle h1{
            width: 400px;
            font-size: 3rem;
        }
        .iosTitle p{
            width: 500px;
            font-size: 1.5rem;
        }
        .iosTitle a{
            width: 50%;
        }
}
/*END OF BARAKATS'S STYLING  */

/* NOT TAKEN SECTION - section-two */



/*END OF NOT TAKEN SECTION */


/* BEGINNING OF BUKOLA'S STYLING */



/* END OF BUKOLA'S STYLING */


/* NOT TAKEN SECTION - SECTION FIVE */


/*END OF NOT TAKEN SECTION */


/* NOT TAKEN SECTION- SECTION SIX */


/*END OF NOT TAKEN SECTION */


/* BEGINNING OF JOY'S STYLING   */



/* END OF JOY'S STYLING  */


/* BEGINNING OF HAPPINESS'S STYLING */


/* END OF HAPPINESS'S STYLING */


/* FAVOURS STYLING - FOOTER */
.footerPartA{
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem 2rem 4rem;
}

.footer-1{
    margin-right: -8rem;
}

.footer-1 img{
    width: 47%;
}

.footerPartA h3{
    font-size: 0.9rem;
    padding: 0 0 20px 0;
}

.footer-A-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    color: rgb(37, 37, 36);
    cursor: pointer;
}

.footer-A-text:hover{
    color: #1264B8;
}

/* footer part B */
.footerPartB{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 6rem 0 5rem;
}

.footerPartB-1{
    display: flex;
    justify-content: space-between;
}

.footerPartB-a{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.footerPartB-a p{
    font-size: 15px;
    font-weight: 800;
}

.footerPartB-a p:hover{
    color: #1264B8;
}

.footerPartB-b{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#footer-download{
   color: #1264B8;
   font-size: 15px;
   font-weight: 600;
   margin-top: 0;
   display: flex;
   gap: 3px;
}
#footer-download div{
    line-height: 25px;
}
.download-icon{
    font-size: 1.3rem;
    font-weight: 100;
}

.footer-icon{
    font-size: 1.4rem;
}

.footerPartB-2{
    font-size: 12px;
}

.footer-globe{
    color: #b4a5a5;
    font-size: 1.3rem;
    font-weight: 300;
}

#footer-change{
    display: flex;
    gap: 3px;
}

#footer-change div{
    line-height: 25px;
}

/*END OF FAVOURS STYLING - FOOTER */


/* MEDIA QUERY SECTION */