/* GENERAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* styling for horizontal line */
hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #fff 1px;
    border-style: inset;
}

/* BARAKATS'S STYLING  */



/*END OF BARAKATS'S STYLING  */

/* NOT TAKEN SECTION - section-two */


/*END OF NOT TAKEN SECTION */


/* BEGINNING OF BUKOLA'S STYLING */



/* END OF BUKOLA'S STYLING */


/* NOT TAKEN SECTION - SECTION FIVE */


/*END OF NOT TAKEN SECTION */


/* NOT TAKEN SECTION- SECTION SIX */


/*END OF NOT TAKEN SECTION */


/* BEGINNING OF JOY'S STYLING   */



/* END OF JOY'S STYLING  */


/* BEGINNING OF HAPPINESS'S STYLING */


/* END OF HAPPINESS'S STYLING */


/* FAVOURS STYLING - FOOTER */
.footerPartA{
    display: flex;
    justify-content: space-between;
    padding: 4rem 12rem 3rem 4rem;
}

.footer-1 img{
    width: 50%;
}

.footerPartA h3{
    font-size: 0.9rem;
    padding: 0 0 20px 0;
}

.footer-A-text{
    font-size: 15px;
    line-height: 43px;
    color: rgb(37, 37, 36);
}

.footer-A-text:hover{
    color: rgb(49, 49, 179);
}

/* footer part B */
.footerPartB{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 6rem 0rem 5rem;
}

.footerPartB-1{
    display: flex;
    justify-content: space-between;
}

.footerPartB-a{
    display: flex;
}

.footerPartB-b{
    display: flex;
}

/* MEDIA QUERY SECTION */