/* GENERAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* styling for horizontal line */
hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #EBEAEB 0.5px;
    border-style: inset;
}

/* BARAKATS'S STYLING  */



/*END OF BARAKATS'S STYLING  */

/* NOT TAKEN SECTION - section-two */



/*END OF NOT TAKEN SECTION */


/* BEGINNING OF BUKOLA'S STYLING */



/* END OF BUKOLA'S STYLING */

/* FAVOUR- SECTION FIVE */
.section-five{
    padding: 3rem 0;
}

.section-five-partA{
    position: relative;
}

.section-five h2{
    margin: 1.7rem 0 0 0;
    text-align: center;
    font-size: 3.125rem;
}

.section-five #section-five-text-1{
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1rem auto 1rem auto;
}

.emoji-1{
    display: flex;
    justify-content: space-between;
    padding: 0 6rem 0 10rem;
    text-align: center;
}

.building {
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    box-shadow: 0px 0px 10px rgb(204, 196, 196);
    padding: 10px ;
    border-radius: 50px;
}

.building img{
    width: 2rem;
}
.barChart{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 10px rgb(204, 196, 196);
    padding: 0px 4px;
    border-radius: 17px;
}
.barChart img{
    width: 1.2rem;
    height: 1.2rem;
}

.chart{
    font-size: 1.6rem;
    display: inline;
    position: absolute;
    left: 5%;
    padding: 2px 8px;
    border-radius: 17px;
    box-shadow: 0px 0px 10px rgb(207, 202, 202);
}

.chart img{
    width: 1.4rem;
}

.handshake{
    display: flex;
    gap: 5px;
}

.shake{
    font-size: 1.4rem;
    display: inline;
    position: absolute;
    left: 79%;
    top: 62%;
    box-shadow: 0px 0px 10px rgb(207, 202, 202);
    padding: 2px 4px;
    border-radius: 17px;
}

.shake img{
    width: 2rem;
}

.padlock{
    font-size: 1.4rem;
    display: inline;
    position: absolute;
    left: 18%;
    box-shadow: 0px 0px 10px rgb(207, 202, 202);
    padding: 2px 4px;
    border-radius: 17px;
    box-shadow: 0px 0px 10px rgb(207, 202, 202);
}

.padlock img{
    width: 1.5rem;
}

.girl-laptop{
    font-size: 1.4rem;
    display: inline;
    position: absolute;
    left: 86%;
    display: flex;
    padding: 2px 8px;
    border-radius: 17px;
    box-shadow: 0px 0px 10px rgb(207, 202, 202);
}

.girl-laptop img{
    width: 2rem;
}

.emoji-3{
    display: block;
    margin: 3.4rem auto 1rem auto;
    width: 550px;
}

.section5Buttons{
    display: inline-block;
}

.buttons-sec5{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.section-five-button1 a{
    background-color: #4A154B;
    color: #fff;
    text-decoration: none;
    border: 5px solid;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.section-five-button1 a:hover{
    background-color: #300b30;
}

.section-five-button2 a{
    background-color: transparent;
    color: #4A154B;
    border: 1px solid #4A154B;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 33px;
    border-radius: 5px;
    cursor: pointer;
}

.section-five-button2 a:hover{
    border: 1.4px solid #39123a;
}

.section-five-partB{
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    margin: 7rem 0 0 0;
}

.section-five-partB p{
    text-align: left;
    font-size: 14px;
}

.section-five-partB h1{
    font-size: 4rem;
    color: #4A154B;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

#section-five-text-2{
    width: 60%;
}

#section-five-text-3{
    width: 60%;
}

#section-five-text-4{
    width: 80%;
}
/*END OF FAVOUR'S SECTION-FIVE */


/* NOT TAKEN SECTION - SECTION SIX */


/*END OF NOT TAKEN-  SECTION SIX */


/* BEGINNING OF JOY'S STYLING   */



/* END OF JOY'S STYLING  */


/* BEGINNING OF HAPPINESS'S STYLING */


/* END OF HAPPINESS'S STYLING */


/* FAVOURS STYLING - FOOTER */
.footerPartA{
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem 2rem 4rem;
}

.footer-1{
    margin-right: -8rem;
}

.footer-1 img{
    width: 47%;
}

.footerPartA h3{
    font-size: 0.9rem;
    padding: 0 0 20px 0;
}

.footer-A-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    color: rgb(37, 37, 36);
    cursor: pointer;
}

.footer-A-text:hover{
    color: #1264B8;
}

/* footer part B */
.footerPartB{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 6rem 0 5rem;
}

.footerPartB-1{
    display: flex;
    justify-content: space-between;
}

.footerPartB-a{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.footerPartB-a p{
    font-size: 15px;
    font-weight: 800;
}

.footerPartB-a p:hover{
    color: #1264B8;
}

.footerPartB-b{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#footer-download{
   color: #1264B8;
   font-size: 15px;
   font-weight: 600;
   margin-top: 0;
   display: flex;
   gap: 3px;
}
#footer-download div{
    line-height: 25px;
}
.download-icon{
    font-size: 1.3rem;
    font-weight: 100;
}

.footer-icon{
    font-size: 1.4rem;
}

.footerPartB-2{
    font-size: 12px;
    margin: 0 0 2rem 0;
}

.footer-globe{
    color: #b4a5a5;
    font-size: 1.3rem;
    font-weight: 300;
}

#footer-change{
    display: flex;
    gap: 3px;
}

#footer-change div{
    line-height: 25px;
}

/*END OF FAVOURS STYLING - FOOTER */


/* MEDIA QUERY SECTION */