*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 500px;
    display: block;
    margin: 4rem auto;
    text-align: center;
}

.container img{
    width: 9rem;
    margin: 0 0 2rem 0;
}

.container h1{
    font-size: 3rem;
    font-weight: 600;
}

#container-text{
    margin: 1rem 0 2rem 0;
    font-size: 18px;
    color: #454245;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
}

#continue-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
    background-color: #703578;
    color: #fff;
    border: none;
}

#google-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    border: 2px solid rgb(66,133,244);
    color: rgb(66,133,244);
}

#apple-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

#already{
    font-size: 15px;
    margin: 1rem 0 1rem 0;
    color: #616061;
}

#sign{
    color: #6179B3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #696969;
    font-size: .9rem;
    margin: 2rem 0 0 0;
}

/* horizontal part */
.horizontal{
    /* display: flex; */
}

.line1{
    width: 30%;
}