*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 500px;
    display: block;
    margin: 4rem auto;
    text-align: center;
}

.container img{
    width: 9rem;
    margin: 0 0 2rem 0;
}

.container h1{
    font-size: 3rem;
    font-weight: 600;
}

#container-text{
    margin: 1rem 0;
    font-size: 18px;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
}

#continue-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
    background-color: #703578;
    color: #fff;
    border: none;
}

#google-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
}

#apple-btn{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem;
}